<?xml version="1.0" encoding="utf-8"?>
<configuration>
     <config>
    <add key="maxHttpRequestsPerSource" value="20" />
  </config>
    <packageSources>
	  <clear />
 	<add key="NuGet" value="https://api.nuget.org/v3/index.json" />
     <add key="ConnectureOSDotNetFundation" value="https://tfswa.connecture.com/tfs/DRX/DRX.Globant/_packaging/ConnectureOSDotNetFundation%40Release/nuget/v3/index.json" />
	</packageSources>
	
<packageSourceCredentials>
    <ConnectureOSDotNetFundation>
      <add key="Username" value="ConnectureOSDotNetFundation@Release" />      
      <add key="ClearTextPassword" value="2qsaorhezwi7kwdwd4zwmbjuqxhn3jvtr33ukrnatccy7sy4e33q" />
	  <add key="ValidAuthenticationTypes" value="basic" />
    </ConnectureOSDotNetFundation>
  </packageSourceCredentials>
</configuration>
